@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2"),
        url("../fonts/#{$file_name}.ttf") format("truetype");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";
@import "reset";
body {
    // width: 100%;
    //  min-width: 1020px;  FIXME:1020px
    min-width: 1050px;
    font-family: Gilroy;
    font-size: 20px;
}

.wrapper {
    min-height: 100vh; // FIXME: 100vh
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

.con-2 {
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}

.con-1 {
    max-width: 890px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    color: #d7282f;
}

.about {
    font-size: 14px;
    font-weight: 300;
    color: #333333;
}

.tagline {
    font-size: 16px;
    line-height: 17px;
    font-weight: 800;
    text-transform: uppercase;
    color: #d92530;
}

.subtitle {
    font-size: 30px;
    line-height: 29px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    a {
        color: white;
        text-decoration: underline;
        padding: 15px;
    }
    // .copyright__email
    &__email {
        position: relative;
        margin: 0px 0px 0px 55px;
        transition: all 0.3s ease 0s;
        &:hover {
            color: #d7282f;
        }
        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            top: 0;
            left: -43px;
            width: 50px;
            height: 50px;
            background: url('../img/icons/email.png') 0 0 / 50px 50px no-repeat;
        }
    }
    // .copyright__telegram
    &__telegram {
        position: relative;
        margin: 0px 0px 0px 55px;
        transition: all 0.3s ease 0s;
        &:hover {
            color: #d7282f;
        }
        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            top: 0;
            left: -43px;
            width: 50px;
            height: 50px;
            background: url('../img/icons/tg.png') 0 0 / 50px 50px no-repeat;
        }
    }
}

@import "header";
.main {}

.activities {
    min-height: 1950px;
    padding: 60px 0 0 0;
    margin: -30px 0 0 0;
    background: url("../img/bg/main_bg.png") center -300px / 1920px auto no-repeat, url("../img/elements/equipment_angle_t.svg") center 350px / 1920px auto no-repeat, url("../img/elements/red_angle.svg") center 830px / 1300px auto no-repeat, url("../img/bg/equipment_bg-1.jpg") center 500px / 1918px auto no-repeat;
    // linear-gradient(0deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)),
    // .activities__row
    &__row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: -55px 0 180px 0;
    }
    // .activities__columns
    &__columns {
        display: flex;
        margin-left: auto;
        align-items: center;
    }
    // .activities__column
    &__column {}
    // .activities__title
    &__title {
        max-width: 521px;
        margin: 0px 0 40px 0;
    }
    // .activities__about
    &__about {
        max-width: 450px;
    }
    // .activities__text
    &__text {
        flex: 0 0 200px;
        margin: 0 0 20px 0;
        position: relative;
        z-index: 3;
        &::after {
            content: "";
            width: 896px;
            height: 587px;
            position: absolute;
            z-index: -1;
            left: -466px;
            top: -360px;
            background: url("../img/elements/left_rectangle.svg") no-repeat;
        }
    }
    // .activities__hexagons
    &__hexagons {
        z-index: 3;
    }
    // .activities__hexagon
    .hex1 {
        width: 160px;
        height: 142px;
        background: url("../img/elements/hex-gray.svg") 0 0 no-repeat;
        p {
            font-family: GretaSansCondensedPro;
            max-width: 100px;
            font-size: 17px;
            text-align: center;
            line-height: 17px;
            font-weight: 800;
            color: #d7282f;
        }
    }
    .hex2 {
        width: 142px;
        height: 128px;
        margin: 0 0 15px 0;
        p {
            max-width: 100px;
        }
    }
    .hex3 {
        width: 130px;
        height: 118px;
        margin: 0 0 20px 0;
        p {
            max-width: 105px;
        }
    }
    .hex4 {
        width: 114px;
        height: 105px;
        margin: 0 0 32px 0;
        &:last-child {
            margin: 0 0 0px 0;
        }
        p {
            max-width: 79px;
        }
    }
    .hex5 {
        &:nth-child(2) {
            width: 170px;
            height: 152px;
            p {
                max-width: 128px;
                line-height: 12px;
            }
        }
        width: 100px;
        height: 90px;
        margin: 0 0 15px 0;
        p {
            max-width: 78px;
        }
    }
    &__hexagon {
        width: 160px;
        height: 142px;
        background: url("../img/elements/hex-red.svg") 0 0 no-repeat;
        display: flex;
        align-items: center;
        cursor: default;
        &:hover {
            transform: translate(0px, 0px) rotate(0deg) scale(1.1);
        }
        p {
            margin: 0 auto;
            text-align: center;
            font-family: HelveticaNeueCyr;
            font-size: 12px;
            ;
            font-weight: 400;
            line-height: 14px;
            color: #fff;
        }
    }
    &__row2 {}
    // .equipment__title
    &__title2 {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 125px 0;
    }
    // .equipment__subtitle
    &__subtitle {
        margin: 0 auto 40px;
        max-width: 350px;
        text-align: right;
    }
    // .equipment__text
    &__text2 {
        margin: 0 auto 120px;
        max-width: 380px;
        text-align: right;
        line-height: 18px;
        color: #ffffff;
    }
    &__about2 {
        text-align: right;
        max-width: 410px;
        margin: 0 0 0 auto;
        span {
            padding-top: 5px;
            display: inline-block;
        }
    }
}

.equipment {
    min-height: 2442px;
    margin-top: -695px;
    background: url("../img/bg/personal_bg.png") center -5px / 1920px auto no-repeat, url("../img/elements/equipment_angle_b.svg") center 0px / 1922px auto no-repeat, url("../img/elements/equipment_angle_t_l.svg") center 1065px / 1920px auto no-repeat, url("../img/elements/red_angle.svg") center 1550px / 1300px auto no-repeat, url("../img/bg/personal_bg_c.jpg") center 1185px / 1920px auto no-repeat;
    // url("../img/bg/personal_bg.jpg") center 1320px / 1920px auto no-repeat,
    &__incompany {
        max-width: 570px;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto 55px;
    }
    // .equipment__incompany2
    &__incompany2 {
        max-width: 450px;
        margin: 0 auto 90px;
        font-size: 20px;
    }
    &__subtitle {
        max-width: 310px;
        position: relative;
        left: 50px;
        line-height: 35px;
        margin: 0 auto 40px;
    }
    &__incompany3 {
        max-width: 420px;
        position: relative;
        left: 105px;
        margin: 0 auto;
        color: #fff;
        line-height: 20px;
    }
    // .activities__row3
    &__row {
        padding-top: 330px;
        margin: 0 0 130px;
    }
    // .activities__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -25px;
        @media (max-width: 1104px) {
            margin: 0 10px;
        }
    }
    // .activities__item
    &__item {
        width: 130px;
        height: 150px;
        background: url("../img/elements/industrial_bg.svg") 0 0 no-repeat;
        justify-content: center;
        text-align: center;
        padding-top: 32px;
        // margin: 0 30px 0 0;
        &:hover {
            transform: scale(1.1);
        }
        &:last-child {
            margin: 0;
        }
        &:nth-child(-n+3) {
            padding-top: 27px;
        }
        span {
            display: inline-block;
            font-size: 14px;
            line-height: 16px;
            color: #d92833;
            padding: 40px 0 0 0;
            font-weight: 800;
        }
    }
    &__icon {
        align-items: center;
        max-width: 75px;
    }
    &__icon-max {
        max-width: 90px;
    }
    // .equipment__about
    &__about {
        max-width: 710px;
        text-align: center;
        margin: 0 auto 100px;
    }
    // .equipment__row2
    &__row2 {
        display: flex;
        justify-content: space-between;
        margin: 0 0 100px 0;
    }
    // .equipment__title
    &__title {}
    // .equipment__about2
    &__about2 {
        flex: 0 0 500px;
        margin: 0 70px 0 0;
    }
    &__about3 {
        margin: 0 0 225px 0;
    }
    // .equipment__report
    &__reports {
        position: relative;
        z-index: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -40px 50px;
        @media (max-width: 1104px) {
            margin: 0 0px 50px;
        }
    }
    // .equipment__report-text
    &__report-text {}
    // .equipment__report-item
    &__report-item {
        display: flex;
        width: 220px;
        height: 75px;
        margin: 0 5% 90px 0;
        @media (max-width: 1104px) {
            margin: 0 2% 90px 0;
        }
        align-items: center;
        background: url('../img/elements/count-bg.svg');
        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(7) {
            position: relative;
            .equipment__report-text {
                position: absolute;
                left: 20px;
                bottom: 20px;
                margin-top: -5px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 300;
                text-transform: uppercase;
                color: #333333;
            }
        }
        &:nth-child(3) {
            .equipment__report-text {
                width: 321px;
                top: -46px;
            }
        }
        &:nth-child(4) {
            margin-right: 0;
            .equipment__report-item-people {
                margin: 0 0 2px -12px;
            }
        }
        &:nth-child(5) {
            .equipment__report-text {
                width: 340px;
                top: -58px;
            }
        }
        &:nth-child(6) {
            position: relative;
            width: 176px;
            height: 75px;
            margin-right: 9%;
            letter-spacing: -0.5px;
            background: url('../img/elements/count-bg-170.svg');
            &::after {
                content: 'из них ат-тестованы (НАКС)';
                padding: 16px 10px 0 25px;
                position: absolute;
                color: #d9232e;
                font-family: HelveticaNeueCyr;
                font-size: 13px;
                line-height: 14px;
                letter-spacing: -1px;
                top: 0;
                z-index: -1;
                right: -66px;
                height: 75px;
                width: 90px;
                background-color: #dadada;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: -72px;
                height: 80px;
                width: 22px;
                background: url('../img/elements/head_arr2.svg');
            }
            .equipment__report-item-text {
                max-width: 53px;
                flex: 0 0 53px;
            }
        }
        &:nth-child(7) {
            .equipment__report-text {
                width: 210px;
                top: -58px;
            }
        }
    }
    // .equipment__report-item-text
    &__report-item-text {
        color: #d9232e;
        font-family: HelveticaNeueCyr;
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        max-width: 100px;
        flex: 0 0 100px;
        margin: 0 0 0 20px;
    }
    // .equipment__report-item-number
    &__report-item-number {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 120px;
        flex: 0 0 120px;
        font-weight: 300;
        letter-spacing: -3.5px;
        font-size: 47px;
    }
    // .equipment__report-item-people
    &__report-item-people {
        font-family: GretaSansCondensedPro;
        max-height: 15px;
        margin: 0px 0 2px -10px;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 0px;
        transform: rotate(-90deg);
        color: #fff;
    }
}

.map {
    background: url("../img/elements/map_angle_b_l.svg") center 0 / 1920px auto no-repeat;
    margin-top: -475px;
    padding: 110px 0px 56px 0px;
    // .map__title
    &__title {
        max-width: 210px;
        margin: 0px 0px 48px 0px;
    }
    // .map__subtitle
    &__subtitle {
        max-width: 380px;
        margin: 0px 0px 53px 0px;
    }
    // .map__columns
    &__columns {
        display: flex;
    }
    // .map__column
    &__column {
        margin: 0px 120px 0px 0px;
        p {
            font-size: 16px;
            line-height: 15px;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0px 0px 15px 0px;
            &::before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                padding: 6px;
                margin: 2px 8px 0 0;
                background-color: #d9232e;
                // outline: blue 1px solid;
            }
        }
    }
    // .map__maps
    &__maps {
        max-width: 1024px;
        position: relative;
        margin: 0px 0px 60px 0px;
        &-image {
            width: 100%;
            height: 100%;
        }
    }
    &__point-text {
        display: none;
        border: 1px solid #777;
        padding: 10px;
        position: absolute;
        font-size: 16px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    &__points>g {
        transform: translate(0px, -100%);
        transition: all 0.5s ease 0s;
        &.animation {
            transform: translate(0px, 0px);
        }
        &:hover {
            cursor: pointer;
            transform: translate(0px, -10px);
        }
    }
    // .map__about
    &__about {
        display: flex;
        justify-content: space-between;
        .about {
            // .about__item
            &__item {
                text-transform: uppercase;
                text-align: right;
                &:nth-child(1) {
                    .about__number {
                        margin: 0px 7px 5px 0px;
                    }
                }
                &:nth-child(2) {
                    .about__number {
                        margin: 0px 0px 5px 20px;
                    }
                    .about__text {
                        margin: 0px 2px 0px 0px;
                    }
                }
                &:nth-child(4) {
                    .about__number {
                        span {
                            margin: 0px 0px 0px -13px;
                        }
                    }
                }
                &:nth-child(5) {
                    .about__number {
                        margin: 0px 0px 0px -10px;
                        span {
                            margin: 0px 0px 0px -13px;
                        }
                    }
                }
                &:nth-child(6) {
                    .about__number {
                        position: relative;
                        span {
                            position: absolute;
                            bottom: 11px;
                            right: 9px;
                        }
                    }
                }
            }
            // .about__number
            &__number {
                display: inline-flex;
                color: #d9232e;
                font-size: 68px;
                letter-spacing: -3px;
                p {
                    letter-spacing: -20px;
                    margin: 0px 25px 0px 0px;
                }
                span {
                    font-family: GretaSansCondensedPro;
                    font-size: 18px;
                    letter-spacing: -1px;
                    align-self: center;
                    transform: rotate(-90deg);
                }
            }
            // .about__text
            &__text {
                max-width: 120px;
                font-family: GretaSansCondensedPro;
                font-size: 22px;
                line-height: 17px;
            }
        }
    }
}

.objects {
    // background-color: rgb(145, 35, 35);
    // .objects__subtitle
    &__subtitle {
        max-width: 100%;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        margin: 0px 0px 31px 0px;
    }
    // .objects__slider
    &__slider {
        min-height: 585px;
        display: flex;
        margin: 0 -10px;
        flex-direction: column;
        justify-content: space-between;
        .slider {
            // .slider__pages
            &__pages {
                justify-content: center;
                display: flex;
            }
            // .slider__page-button
            &__page-button {
                margin: 0px 30px 0px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 34px;
                height: 31px;
                cursor: pointer;
                &.active {
                    color: #fff;
                    cursor: default;
                    background: url("../img/elements/tabs_pg.svg") no-repeat;
                }
                &:last-child {
                    margin: 0px 0px 0px 0px;
                }
            }
            // .slider__page
            &__page {
                display: none;
                flex-wrap: wrap;
                max-width: 100%;
                justify-content: center;
            }
            // .slider__item
            &__item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 380px;
                text-align: center;
                margin: 0px 10px 30px 10px;
                // &:nth-child(3n+3) {
                //     margin: 0px 0px 30px 0px;
                // }
                @media (max-width: 1225px) {
                    margin: 0px 10px 30px 10px;
                    &:nth-child(2n+1) {
                        margin: 0px 10px 30px 10px;
                    }
                }
                // @media (max-width: 827px) {
                //     margin: 0px 0px 30px 0px;
                //     &:nth-child(2n+1) {
                //         margin: 0px 0px 30px 0px;
                //     }
                // }
            }
            // .slider__foto
            &__foto {
                width: 380px;
                height: 142px;
                margin: 0px 0px 16px 0px;
                overflow: hidden;
                transform: scale(0);
                opacity: 0;
                transition: all 0.5s ease 0s;
                &.animation {
                    opacity: 1;
                    transform: scale(1);
                }
            }
            // .slider__img
            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease 0s;
                &:hover {
                    transform: scale(1.1);
                }
            }
            // .slider__title
            &__title {
                line-height: 18px;
                margin: 0px 0px 5px 0px;
                opacity: 0;
                transform: translate(0px, 120%);
                transition: all 0.5s ease 0.3s;
                &.animation {
                    opacity: 1;
                    transform: translate(0px, 0px);
                }
            }
            // .slider__subtitle
            &__subtitle {
                font-size: 16px;
                opacity: 0;
                transform: translate(0px, 110%);
                transition: all 0.3s ease 0.5s;
                &.animation {
                    opacity: 1;
                    transform: translate(0px, 0px);
                }
            }
        }
    }
}

.docs {
    background: url("../img/elements/equipment_angle_t.svg") center -220px / 1920px auto no-repeat, url("../img/bg/doc_bg.png") center 0 / 1920px auto no-repeat;
    margin: -110px 0px 0px 0px;
    padding: 220px 0px 0px 0px;
    // .docs__title
    &__title {
        max-width: 380px;
        text-align: right;
        margin: 0px 0px 56px auto;
    }
    // .docs__subtitle
    &__subtitle {
        color: #fff;
        text-shadow: 0px 0px 15px #d7282f;
        max-width: 450px;
        font-size: 16px;
        line-height: 20px;
        margin: 0px 0px 110px 0px;
    }
    // .docs__images
    &__images {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: space-between;
    }
    // .docs__image
    &__image {
        max-width: 220px;
        height: 315px;
        margin: 0px 40px 100px 0px;
        box-shadow: 0px 0px 15px #333333;
        opacity: 0;
        transform: scale(0);
        transition: all 0.5s ease 0s;
        &.animation {
            opacity: 1;
            transform: scale(1);
        }
        &:nth-child(3n+3) {
            margin: 0px 0px 100px 0px;
        }
    }
    // .docs__img
    &__img {
        width: 100%;
        height: 100%;
    }
}

@import "footer";
@import "popup";